<div class="cardMission">
  <div class="card">
    <div class="titleMission">
      <p class="first">Mission 6</p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>

  <div class="card speBottomBorder" style="margin: 10px;">
    <div id="firstGroupeM2" class="relative">
      <label><b>GuarBot</b> se trouve : </label>
    </div>
  </div>
  <div class="card">
    <div id="secondGroupeM2" class="relative" >
      <div class="divStatueConstruit">
        <ion-list radio-group  (ionChange)="calculScore($event)">
          <ion-item class="radioCheck">
            <ion-label><b>-</b> dans l'atelier.</ion-label>
            <ion-radio value='{{50}}' ngDefaultControl></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label><b>-</b> dans la loge.</ion-label>
            <ion-radio value='{{80}}' ngDefaultControl></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Autre situation</ion-label>
            <ion-radio checked value='{{0}}' ngDefaultControl></ion-radio>
          </ion-item>

        </ion-list>
      </div>
    </div>
  </div>
  <div class="card">
    <div id="firstGroupeM1" class="relative" (click)="bool = !bool;calculScore(scores.total);">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span class="track oui repBool" [hidden]="!bool">OUI</span>
        <span class="track non repBool" [hidden]="bool">NON</span>
      </label>
    </div>
  </div>

</div>

