bonus-techno {

  .card {
    ion-label {
      font-size: 24px;
      white-space: normal !important;
    }

    .track {
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: #E91E63;
      width: 20% !important;
      padding: 19px;
      display: inline-block;
      border-radius: 50px;
    }

    .labelBool {
      width: 100%;
      padding: 24px;
      font-size: 24px;
    }

    .repBool {
      text-align: center;
      font-size: 100% !important;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
    }

    .oui {
      background-color: green;
    }

    .non {
      background-color: red;
    }

    .ion-item{
      font-size: 24px;
      white-space: normal;
      width: 95%;
      margin: auto;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;


      .nbPersonage {
        position: absolute;
        right: 10%;
      }
    }

    .ion-item.first{
      border-top: 1px solid #dedede;
    }

    .ion-item:last-child{
      border-bottom: 1px solid #dedede;
    }

    .titleRange {
      width: 80%;
      margin-left: -16%;
      text-align: left;
      white-space: normal !important;

    }

    .range-md.range-has-pin {
      padding-top: 0;
    }

    .card:last-child {
      border-bottom: 0;
    }
  }

}
