<div class="cardMission">
  <div class="card" style="position: relative;">
    <div class="img-mission">
      <img src="assets/imgs/cycle2/logoMission/mission5.ico" alt="">
    </div>
    <div class="titleMission">
      <p class="first">Mission 5 <br/> <span style="font-weight:normal;font-size: 24px">La danse du butineur</span></p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div class="card labelBool">
    <ion-list button-group>
      <ion-list-header class="titleLabel">
        Lorsqu'il arrive dans la «Ruche», RoBee doit indiquer l'emplacement du jardin à ses congénères en effectuant
        une danse et un chant.
      </ion-list-header>
      <ion-item (click)="calculScore('bool1', 5, 'bool2')">
        <label disabled checked="false">RoBee a effectué une danse</label>
        <label class="boolMission toggle">
          <span class="track oui repBool" [hidden]="!bool.bool1">OUI</span>
          <span class="track non repBool" [hidden]="bool.bool1">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="calculScore('bool2', 10, 'bool1')">
        <label disabled checked="false">RoBee a effectué une danse en forme de huit</label>
        <label class="boolMission toggle" >
          <span class="track oui repBool" [hidden]="!bool.bool2">OUI</span>
          <span class="track non repBool" [hidden]="bool.bool2">NON</span>
        </label>
      </ion-item>
    </ion-list>
  </div>
</div>
