<div class="cardMission">
  <div class="card" style="position: relative;">
    <div class="img-mission">
      <img src="assets/imgs/cycle3/mission1.jpg" alt="">
    </div>
    <div class="titleMission">
      <p class="first">Mission 1</p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div class="card">
    <div id="firstGroupeM1" class="relative" (click)="upBoolM1()" >
      <label disabled checked="false"><b>La tablette</b> est dans le sarcophage.</label>
      <label class="boolMission toggle" (click)="upBoolM1()"><input [hidden]="true" type="checkbox" [(ngModel)]="boolM1" value="20">
        <span class="track oui repBool" [hidden]="!boolM1">OUI</span>
        <span class="track non repBool" [hidden]="boolM1">NON</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div id="secondGroupeM1" class="relative" >
      <div class="divStatueConstruit">
        <ion-list radio-group (ionChange)="upRodioM1($event)">
          <ion-list-header class="titleLabel">
            La momie :
          </ion-list-header>

          <ion-item class="inputRadio">
            <ion-label><b>-</b>est assise sur son trône et se trouve dans le sarcophage.</ion-label>
            <ion-radio [(ngModel)]="scores.choice" value='{{20}}' ngDefaultControl></ion-radio>
          </ion-item>

          <ion-item class="inputRadio">
            <ion-label><b>-</b> se trouve dans la loge du gardien.</ion-label>
            <ion-radio [(ngModel)]="scores.choice" value='{{50}}' ngDefaultControl></ion-radio>
          </ion-item>

          <ion-item class="inputRadio">
            <ion-label><b>-</b> est allongée dans le sarcophage.</ion-label>
            <ion-radio [(ngModel)]="scores.choice" value='{{80}}' ngDefaultControl></ion-radio>
          </ion-item>

          <ion-item class="inputRadio">
            <ion-label>Autre situation</ion-label>
            <ion-radio [(ngModel)]="scores.choice" value='{{0}}' ngDefaultControl></ion-radio>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</div>

