<div class="cardMission">
  <div class="card" style="position: relative;">
    <div class="img-mission">
      <img src="assets/imgs/cycle2/logoMission/mission4.jpg" alt="">
    </div>
    <div class="titleMission" (click)="showModal = true">
      <p class="first">Mission 4 <br/> <span style="font-weight:normal;font-size: 24px">Fabrication du miel.</span></p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div [hidden]="!showModal" class="modal image-modal transparent" (click)="showModal = false">
    <div class="transparent">
      <img src="assets/imgs/cycle2/explMission/mission4.jpg" class="fullscreen-image"/>
    </div>
  </div>
  <div class="card">
    <table>
      <tbody>
      <tr class="cas6">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/4_pot_de_miel_mission4.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar s’est transformée en miel et se trouve au niveau 4 du pot de miel.
        </td>
        <td colspan="4" class="responseFalse" [style.background-color]="(!colorBackground.cas6['first']) ? asErrorMessage : null" (click)="changeColor('first','cas6')" [ngClass]="{'responseFalse' : !colorBackground.cas6['first'], 'responseTrue' : colorBackground.cas6['first']}"><p>1</p></td>
      </tr>
      <tr class="cas5">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/3_pot_de_miel_mission4.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar s’est transformée en miel et se trouve au niveau 3 du pot de miel.
        </td>
        <td colspan="4" class="responseFalse" [style.background-color]="(!colorBackground.cas5['first']) ? asErrorMessage : null" (click)="changeColor('first','cas5')" [ngClass]="{'responseFalse' : !colorBackground.cas5['first'], 'responseTrue' : colorBackground.cas5['first']}"><p>1</p></td>
      </tr>
      <tr class="cas4">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/2_pot_de_miel_mission4.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar s’est transformée en miel et se trouve au niveau 2 du pot de miel.
        </td>
        <td colspan="2" class="responseFalse" [style.background-color]="(!colorBackground.cas4['first']) ? asErrorMessage : null" (click)="changeColor('first','cas4')" [ngClass]="{'responseFalse' : !colorBackground.cas4['first'], 'responseTrue' : colorBackground.cas4['first']}"><p>1</p></td>
        <td colspan="2" class="responseFalse" [style.background-color]="(!colorBackground.cas4['second']) ? asErrorMessage : null" (click)="changeColor('second','cas4')" [ngClass]="{'responseFalse' : !colorBackground.cas4['second'], 'responseTrue' : colorBackground.cas4['second']}"><p>2</p></td>
      </tr>
      <tr class="cas3">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/1_pot_de_miel_mission4.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar s’est transformée en miel et se trouve au fond du pot de miel.
        </td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas3['first']) ? asErrorMessage : null" (click)="changeColor('first','cas3')" [ngClass]="{'responseFalse' : !colorBackground.cas3['first'], 'responseTrue' : colorBackground.cas3['first']}"><p>1</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas3['second']) ? asErrorMessage : null" (click)="changeColor('second','cas3')" [ngClass]="{'responseFalse' : !colorBackground.cas3['second'], 'responseTrue' : colorBackground.cas3['second']}"><p>2</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas3['third']) ? asErrorMessage : null" (click)="changeColor('third','cas3')" [ngClass]="{'responseFalse' : !colorBackground.cas3['third'], 'responseTrue' : colorBackground.cas3['third']}"><p>3</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas3['four']) ? asErrorMessage : null" (click)="changeColor('four','cas3')" [ngClass]="{'responseFalse' : !colorBackground.cas3['four'], 'responseTrue' : colorBackground.cas3['four']}"><p>4</p></td>
      </tr>
      <tr class="cas2">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/nectar_niveau1.jpg" alt="">
            <img src="assets/imgs/cycle2/explMission/ruche.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar se trouve dans la ruche.
        </td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas2['first']) ? asErrorMessage : null" (click)="changeColor('first','cas2')" [ngClass]="{'responseFalse' : !colorBackground.cas2['first'], 'responseTrue' : colorBackground.cas2['first']}"><p>1</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas2['second']) ? asErrorMessage : null" (click)="changeColor('second','cas2')" [ngClass]="{'responseFalse' : !colorBackground.cas2['second'], 'responseTrue' : colorBackground.cas2['second']}"><p>2</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas2['third']) ? asErrorMessage : null" (click)="changeColor('third','cas2')" [ngClass]="{'responseFalse' : !colorBackground.cas2['third'], 'responseTrue' : colorBackground.cas2['third']}"><p>3</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas2['four']) ? asErrorMessage : null" (click)="changeColor('four','cas2')" [ngClass]="{'responseFalse' : !colorBackground.cas2['four'], 'responseTrue' : colorBackground.cas2['four']}"><p>4</p></td>
      </tr>
      <tr class="cas1">
        <td class="cell-pad-align-center">
          <div class="div-img">
            <img src="assets/imgs/cycle2/explMission/nectar_niveau1.jpg" alt="">
            <img src="assets/imgs/cycle2/explMission/jardin anglais.jpg" alt="">
          </div>
        </td>
        <td class="cell-pad-align-center">
          Une goutte de nectar se trouve dans le jardin anglais.
        </td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas1['first']) ? asErrorMessage : null" (click)="changeColor('first','cas1')" [ngClass]="{'responseFalse' : !colorBackground.cas1['first'], 'responseTrue' : colorBackground.cas1['first']}"><p>1</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas1['second']) ? asErrorMessage : null" (click)="changeColor('second','cas1')" [ngClass]="{'responseFalse' : !colorBackground.cas1['second'], 'responseTrue' : colorBackground.cas1['second']}"><p>2</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas1['third']) ? asErrorMessage : null" (click)="changeColor('third','cas1')" [ngClass]="{'responseFalse' : !colorBackground.cas1['third'], 'responseTrue' : colorBackground.cas1['third']}"><p>3</p></td>
        <td class="responseFalse" [style.background-color]="(!colorBackground.cas1['four']) ? asErrorMessage : null" (click)="changeColor('four','cas1')" [ngClass]="{'responseFalse' : !colorBackground.cas1['four'], 'responseTrue' : colorBackground.cas1['four']}"><p>4</p></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="errorMessageBlock !== ''">
    <p>{{errorMessageBlock}}</p>
  </div>
</div>
