<div class="cardMission">
  <div class="card" style="position: relative;">
    <div class="img-mission">
      <img src="assets/imgs/cycle3/mission5.jpg" alt="">
    </div>
    <div class="titleMission">
      <p class="first">Mission 5 <br/> <span style="font-weight:normal;font-size: 20px">Création d’un morceau de musique</span></p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div class="card speBottomBorder margBottom ">
    <div id="firstGroupeM1" class="relative" (click)="bool = !bool;">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span class="track oui repBool" [hidden]="!bool">OUI</span>
        <span class="track non repBool" [hidden]="bool">NON</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div id="secondGroupeM1" class="relative" >
      <div class="divStatueConstruit">
        <ion-list radio-group (ionChange)="calculScore(1, $event)">
          <ion-item class="radioCheck">
            <ion-label><b>-</b> quand GardBot était à l'intérieur de l'auditorium.</ion-label>
            <ion-radio value='{{20 | number}}' ngDefaultControl [disabled]="!bool" ></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label><b>-</b> quand GardBot était à l'extérieur de l'auditorium.</ion-label>
            <ion-radio value='{{10}}' ngDefaultControl [disabled]="!bool"></ion-radio>
          </ion-item>

        </ion-list>
      </div>
    </div>
  </div>
  <div class="card speBottomBorder" style="margin: 10px;">
    <div id="firstGroupeM2" class="relative">
      <label><b>La mélodie</b> a été issue : </label>
    </div>
  </div>
  <div class="card">
    <div id="secondGroupeM2" class="relative" >
      <div class="divStatueConstruit">
        <ion-list radio-group  (ionChange)="calculScore(2, $event)">
          <ion-item class="radioCheck">
            <ion-label><b>-</b> du répertoire du robot.</ion-label>
            <ion-radio value='{{0 | number}}' ngDefaultControl [disabled]="!bool"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label><b>-</b> d'une carte musique tirée au sort par l’équipe.</ion-label>
            <ion-radio value='{{40}}' ngDefaultControl [disabled]="!bool"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label><b>-</b> d'une mélodie composée par l'équipe.</ion-label>
            <ion-radio value='{{70}}' ngDefaultControl [disabled]="!bool"></ion-radio>
          </ion-item>

        </ion-list>
      </div>
    </div>
  </div>

</div>

