<div class="cardMission">
  <div class="card">
    <div class="titleMission">
      <p class="first">Bonus</p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div class="card">
    <div class="relative padding" (click)="bool.bool1 = !bool.bool1;calculScore('bool1', 30);">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span (ngClass)="[(bool.bool1) ? 'green' : 'red']" class="track oui repBool" [hidden]="!bool.bool1">OUI</span>
        <span (ngClass)="[(bool.bool1) ? 'green' : 'red']" class="track non repBool" [hidden]="bool.bool1">NON</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="relative padding" (click)="bool.bool2 = !bool.bool2;calculScore('bool2', 30);">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span (ngClass)="[(bool.bool2) ? 'green' : 'red']" class="track oui repBool" [hidden]="!bool.bool2">OUI</span>
        <span (ngClass)="[(bool.bool2) ? 'green' : 'red']" class="track non repBool" [hidden]="bool.bool2">NON</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="relative padding" (click)="bool.bool3 = !bool.bool3;calculScore('bool3', 20);">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span (ngClass)="[(bool.bool3) ? 'green' : 'red']" class="track oui repBool" [hidden]="!bool.bool3">OUI</span>
        <span (ngClass)="[(bool.bool3) ? 'green' : 'red']" class="track non repBool" [hidden]="bool.bool3">NON</span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="relative padding" (click)="bool.bool4 = !bool.bool4;calculScore('bool4', 20);">
      <label><b>La mélodie</b> a été entendue : </label>
      <label class="boolMission toggle">
        <span (ngClass)="[(bool.bool4) ? 'green' : 'red']" class="track oui repBool" [hidden]="!bool.bool4">OUI</span>
        <span (ngClass)="[(bool.bool4) ? 'green' : 'red']" class="track non repBool" [hidden]="bool.bool4">NON</span>
      </label>
    </div>
  </div>

</div>

