<div class="cardMission">
  <div class="card">
    <div class="titleMission">
      <p class="first">Mission 4</p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>

  <div class="card labelBool">
    <ion-list button-group>
      <ion-list-header class="titleLabel">
        Tableau 1 vertical <span class="scoreTab">{{scores.tab1}}</span>
      </ion-list-header>
      <ion-item (click)="calculScore(1, 0)">
        <label disabled checked="false">Tableau bien orienté.</label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab1[0]" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab1[0]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab1[0]">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="calculScore(1, 1)">
        <label disabled checked="false">Tableau bien placé.</label>
        <label class="boolMission toggle" ><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab1[1]" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab1[1]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab1[1]">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="calculScore(1, 2)">
        <label disabled checked="false">Tableau sur son support (niveau expert).</label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab1[2]" value="20">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab1[2]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab1[2]">NON</span>
        </label>
      </ion-item>
    </ion-list>
    <ion-list button-group>
      <ion-list-header class="titleLabel">
        Tableau 2 horizontal : <span class="scoreTab">{{scores.tab2}}</span>
      </ion-list-header>
      <ion-item (click)="calculScore(2, 0)" >
        <label disabled checked="false">Tableau bien orienté.</label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab2[0]" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab2[0]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab2[0]">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="calculScore(2, 1)">
        <label disabled checked="false">Tableau bien placé.</label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab2[1]" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab2[1]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab2[1]">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="calculScore(2, 2)">
        <label disabled checked="false">Tableau sur son support (niveau expert).</label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.tab2[2]" value="20">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.tab2[2]">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.tab2[2]">NON</span>
        </label>
      </ion-item>
    </ion-list>
  </div>
</div>
