<div class="cardMission">
  <div class="card">
    <div class="titleMission">
      <p class="first">Mission 3</p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>

  <div class="card labelBool">
    <ion-list button-group (click)="bool1($event)">
      <ion-list-header class="titleLabel">
        Tableau 1 vertical : <span>{{scores.tab1}}</span>
      </ion-list-header>
      <ion-item (click)="bool.first = !bool.first">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.first" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.first">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.first">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="bool.second = !bool.second">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle" ><input [hidden]="true" type="checkbox" [(ngModel)]="bool.second" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.second">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.second">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="bool.third = !bool.third">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.third" value="20">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.third">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.third">NON</span>
        </label>
      </ion-item>
    </ion-list>
    <ion-list button-group (click)="bool2($event)">
      <ion-list-header class="titleLabel">
        Tableau 2 horizontal : <span>{{scores.tab2}}</span>
      </ion-list-header>
      <ion-item (click)="bool.fourth = !bool.fourth">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.fourth" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.fourth">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.fourth">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="bool.five = !bool.five">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.five" value="10">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.five">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.five">NON</span>
        </label>
      </ion-item>
      <ion-item (click)="bool.six = !bool.six">
        <label disabled checked="false"><b>La statue</b> est construite : </label>
        <label class="boolMission toggle"><input [hidden]="true" type="checkbox" [(ngModel)]="bool.six" value="20">
          <span [style.background-color]="colorBool" class="track oui repBool" [hidden]="!bool.six">OUI</span>
          <span [style.background-color]="colorBool" class="track non repBool" [hidden]="bool.six">NON</span>
        </label>
      </ion-item>
    </ion-list>
  </div>
</div>
