<div class="cardMission">
  <div class="card" style="position: relative;">
    <div class="img-mission">
      <img src="assets/imgs/cycle3/mission2.jpg" alt="">
    </div>
    <div class="titleMission">
      <p class="first">Mission 2 <br/> <span style="font-weight:normal;font-size: 20px">Restitution de la galerie des personnages historiques</span></p>
      <p class="second">Score : {{scores.total}}</p>
    </div>
  </div>
  <div class="card">
  </div>
  <div class="card">
    <div id="secondGroupeM1" class="relative" >

      <ion-list range-group (ionChange)="upRange($event)">
        <ion-list-header class="titleLabel">
          Nombre de personnage :
        </ion-list-header>
        <ion-item class="ion-item first">
          <ion-label class="titleRange"><b>-</b> en dehors des couloirs du temps. <span [textContent]="range.first.value" class="nbPersonage"></span></ion-label>
          <ion-range name="rangeM2" class="range" min="0" [max]="range.first.max" [disabled]="range.first.max < 1" [(ngModel)]="range.first.value" color="secondary" pin="true" (ionChange)="upRange($event)"></ion-range>
        </ion-item>
        <ion-item class="ion-item">
          <ion-label class="titleRange"><b>-</b> dans l’atelier ou dans la loge de GardBot. <span [textContent]="range.second.value" class="nbPersonage"></span></ion-label>
          <ion-range name="rangeM2" class="range" min="0" [max]="range.second.max" [disabled]="range.second.max < 1" [(ngModel)]="range.second.value" color="secondary" pin="true" (ionChange)="upRange($event)"></ion-range>
        </ion-item>
        <ion-item class="ion-item">
          <ion-label class="titleRange"><b>-</b> dans la galerie des personnages historiques. <span [textContent]="range.third.value" class="nbPersonage"></span></ion-label>
          <ion-range name="rangeM2" class="range" min="0" [max]="range.third.max" [disabled]="range.third.max < 1" [(ngModel)]="range.third.value" color="secondary" pin="true" (ionChange)="upRange($event)"></ion-range>
        </ion-item>
        <ion-item class="ion-item">
          <ion-label class="titleRange"><b>-</b> dans la vitrine de sa couleur mais pas debout. <span [textContent]="range.fourth.value" class="nbPersonage"></span></ion-label>
          <ion-range name="rangeM2" class="range" min="0" [max]="range.fourth.max" [disabled]="range.fourth.max < 1" [(ngModel)]="range.fourth.value" color="secondary" pin="true" (ionChange)="upRange($event)"></ion-range>
        </ion-item>
        <ion-item class="ion-item">
          <ion-label class="titleRange"><b>-</b> dans la vitrine de sa couleur de la galerie des personnages historiques. <span [textContent]="range.five.value" class="nbPersonage"></span></ion-label>
          <ion-range name="rangeM2" class="range" min="0" [max]="range.five.max" [disabled]="range.five.max < 1" [(ngModel)]="range.five.value" color="secondary" pin="true" (ionChange)="upRange($event)"></ion-range>
        </ion-item>
      </ion-list>

    </div>
  </div>

</div>

