page-home {
}
.toolbar{
  font-size: 24px;
  min-height: 85px !important;
  .toolbar-title{
    font-size: 26px;
  }
}


.responseFalse {
  background-color: #e92a00;
}

.responseTrue {
  background-color: #3fe901;
}
