page-home {

}
.toolbar{
  font-size: 24px;
  min-height: 85px !important;
  .toolbar-title{
    font-size: 26px;
  }
}
ion-content {
  .btnTools {
    text-align: center;
    button {
      width: 48% !important;
    }
  }
}

.timer {
  width: 25%;
  position: absolute;
  top: 0;
  right: 100px;
}

.cardMission {
  .card:first-child {
    .titleMission{
      min-height: 45px;
    }
  }
}
