page-home {

}
ion-content {
  .btnTools {
    text-align: center;
    button {
      width: 48% !important;
    }
  }
}

.timer {
  width: 25%;
  position: absolute;
  top: 0;
  right: 100px;
}

.popupSave {
  .alert-title {
    font-size: 20px;
  }
  .alert-message {
    overflow: hidden;
    color: #000000;
  }
}
.cardMission {
  .card:first-child {
    min-height: 45px;
    .titleMission{
      min-height: 45px;
    }
  }
}
